body {
  font-family: cursive, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background-image: url("../maxresdefault.jpg")
}

.game-container {
  padding: 30px;
  width: 500px;
  height: 595px;
  border: 2px solid #333333;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  letter-spacing: 0.1ch;
  position: relative;
  justify-content: center;
}
.game-container::before {
  content: '';
  border: 2px solid #353535;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) scale(1.010) rotate(0.5deg);
  border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%
}

.game-info {
  margin: 0px 10px;
  width: 480px;
  height: 100px;
  display: inline-block
}

#game-name-rematch {
  margin: 10px 0px;
  width: 200px;
  height: 80px;
  line-height: 80px;
  margin: 10px 0px;
  float:left;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #333333;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  letter-spacing: 0.1ch;
}

#opponent-div {
  margin-top: 10px;
  margin-left: 10px;
  width: 250px;
  height: 40px;
  float: right;
  padding-left: 10px;
  vertical-align: middle;
  line-height: 40px;
  border: 1px solid #333333;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  letter-spacing: 0.1ch;
}

#turn-result-div {
  margin-bottom: 10px;
  margin-left: 10px;
  width: 250px;
  height: 40px;
  float:right;
  padding-left: 10px;
  vertical-align: middle;
  line-height: 40px;
  border: 1px solid #333333;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  letter-spacing: 0.1ch;
}

#game-board {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 482px;
  height: 480px;
  font-size:0px
}

.board-slot {
  width: 158px;
  height: 157px;
  margin-left:-1px;
  display: inline-block;
  border: 1px solid #333333;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
}

